body {
    background-color: #fff;
}

.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img{
      position: absolute;
      object-fit:scale-down;
      top: 0;
      left: 0;
      min-height: 500px;
  }